.List {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    width: 30rem;
  }
  @media (max-width: 800px) {
    .List {
      width: 20rem;
    }
  }
  .List h3 {
    color: #999;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Roboto;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 20px 2rem;
  }
  .List ul {
    border-top: 1px solid #eee;
    overflow-y: scroll;
    height: calc(100vh - 72px);
    list-style: none;
    margin-top: 1em;
    padding: 0;
    width: 100%;
    color: #999;
  }
  .List ul a,
  .List ul a:active,
  .List ul a:hover,
  .List ul a:link,
  .List ul a:visited {
    color: inherit;
    text-decoration: none;
  }
  .List ul>li {
    height: 70px;
    font-size: 90%;
    cursor: pointer;
    overflow: hidden;
  }
  .List ul>a,
  .List ul>a * {
    -webkit-transition: background-color .1s ease-in-out, color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out, color .1s ease-in-out;
    transition: background-color .1s ease-in-out, color .1s ease-in-out;
  }
  .List ul li .location {
    border-top: 0.5px solid #eee;
    margin: 0 2rem;
    padding: 5rem 4px;
  }
  .List ul a:first-of-type li .location {
    border-top: none;
  }
  .List ul#locations li:hover {
    background-color: #064604;
  }
  .List ul li:hover,
  .List ul li:hover .location * {
    color: #fff!important;
    text-decoration: none !important;
  }
  .List ul li:hover .location {
    border-color: transparent;
  }
  .List ul li .location-title {
    color: #415d97;
    font-family: Fauna One;
    font-size: 120%;
    font-weight: 400;
    white-space: nowrap;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .List ul li .location-rating {
    height: 54px;
    overflow: hidden;
    margin-bottom: .5rem;
  }
  .List ul li .location-rating * {
    font-size: 1em!important;
    margin: 0!important;
    padding: 0!important;
    color: #999!important;
    background: none;
    border: none;
  }
  .List ul li .location {
    display: block;
    height: 100px;
    padding: 1em;
    text-decoration: none
  }