.SignIn {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 100vh;
    background: url("cam-dicecca-116639-unsplash.jpg");
  }
  .SignIn main {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .SignIn main h3 {
    font-family: "Fauna One";
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .SignIn p {
    color: white;
    font-family: "Fauna One";
    font-size: 1.7rem;
    font-weight: 300;
    width: 30em;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: 2rem;
  }
  .SignIn button.google  {
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 2.5rem auto 1.2rem;
    padding: 20px;
    -webkit-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
    font-family: 'helvetica neue', serif;
    font-size: 20px;
    font-weight: 200;
    background: gray;
    color: grey;
  }
  .SignIn button + button {
    margin-top: 0;
    background: gray;
    color: grey;
  }
  
  .SignIn h1{
    color: black;
    font-weight: bold;
    
  }


  
  .SignIn button.google {
    background-color:rgb(195, 211, 202);
    color: #666;
  }
  

  